html {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 60px;
}

.hero-title {
  text-align: center;
  margin: 40px 0;
}

.text {
  margin-bottom: 20px;
}
.text:last-child {
  margin-bottom: 0;
}

.view,
.strength {
  padding: 20px 0;
}
.installation,
.perforation,
.advantages {
  padding: 20px 0;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.3rem;
}
.title-view {
  text-align: start;
}
.text-bold {
  font-weight: bold;
  font-size: 1.2rem;
}
.perforation-item {
  display: flex;
  border: 2px solid black;
  border-bottom: none;
}
.perforation-img {
  width: 30%;
  padding: 20px;
  border-right: 2px solid black;
}
.perforation-item:last-child {
  border-bottom: 2px solid black;
}
.perforation-list-info {
  padding-left: 40px;
}
.perforation-list-info {
  margin: 0;
}
.perforation-container {
  padding: 10px 0;
}

.text-title {
  margin: 0 0 30px;
  text-align: start;
}
.strenth-list {
  padding: 0 20px 0 30px;
}
.strenth-item {
  padding: 10px 0;
}
.pdf {
  text-align: center;
  margin: 30px 0 10px;
}
.advantages-img {
  width: 40%;
  float: left;
}
.advantages-inner-container,
.strenth-list {
  font-size: 1.2rem;
}
